body {
    position: relative;
    background: white;
    font-family: ubuntu;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #abda85;
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 0;
}

.icon-bar {
    background-color: #1b3249;
}

.divider {
    margin-left: 100px;
    margin-right: 100px;
}

.ftr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    background: #0b290c;
    overflow: hidden;
}

.nav-cnt:link {
    color: #1b3249 !important;
}

.nav-cnt:active {
    color: dimgray !important;
}

.nav-cnt:hover {
    color: #004c00 !important;
}

.label-primary {
    background: #669966;
    color: white;
    font-size: medium;
}

.well {
    background: #deffd2;
}

.badge{
    font-size: inherit;
}

a {
    color: green;
}

a:hover {
    color: #00ae00;
}

a:focus {
    color: #004c00;
}



h1, h2, h3, h4, h5, h6 {
    color: #2b542c !important;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 40px;
}

p, .lead {
    line-height: 200%;
}

p, .refs {
    font-size: small;
}
p {
    margin-top: 20px;
    font-size: medium;
    line-height: 200%;
    font-family: ubuntu;
    font-style: normal;
    font-weight: 300;
    text-align: justify;
}

section {
    margin-top: 20px;
    font-size: medium;
    line-height: 200%;
    font-family: ubuntu;
    font-style: normal;
    font-weight: 300;
    text-align: justify;
}

.img-body {
    max-width: 18em;
}

button {
    text-transform: initial !important;
}

.navbar-icons {
    margin-bottom:-10px
}

.biofuels {
    font-size: 5em;
    font-family: "Avenir";
    color: #60457c;
    line-height: 2.5em;
    z-index: 3;
}

.header-disc {
    font-size: 2.3em;
    font-family: "Gill Sans";
    line-height: 2em;
    z-index: 4;
}

.sep-img {
    position: absolute;
}

#header-wrap {
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;     /* triggers hasLayout */
}

section {
    overflow: hidden;
}

.row {
   overflow: hidden;
}
#bk-img {
    top: 0;
    margin-top:-60px;


    overflow: hidden;
    z-index: 500;
}

.thumbnail.with-caption {
    display: inline-block;
    background: #ffffff;
    margin: 10px;
}
.thumbnail.with-caption p {
    padding-top: -15px;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}
.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}

.list-label{
    font-size: medium;
    margin-top: 10px;
}

.custom-list{
    margin-top: 10px;
    padding: 10px;
}

div .white {
    color: #f4f4f4;
}

.white {
    color: #f4f4f4 !important;
}

h1.conclusion {
    margin-top: -10px;
    color: #67E3DE !important;
}

p.conclusion {
    color: #00D3CB !important;
}

i.conclusion {
    color: #abda85 !important;
}

h1.refs {
    font-size: 5em;
    color: #FFB274 !important;
}

.refs{
    color: #FFB274 !important;
}

p.refs {
    color: #FFD1AD !important;
    font-size: small !important;

    line-height: 150%;
}

a.refs {
    color: #4D4138 !important;
    font-size: small !important;
    line-height: 150%;
}

.about-ttl{
    color: #9121D4 !important;
}

a.about{
    color: #370b4e !important;
    text-decoration: underline;
}

.about{
    color: #6E3E8A !important;
}

.row{
    padding-left: 1em;
    padding-right: 1em;
}

h1.intro {
    color: #97982E !important;
}

.intro {
    color: #4C4D00 !important;
}

.bk-intro {
    background: #FCFF00 !important;
}

h1.prop {
    color: #d6a2cd !important;
}

.prop{
    color: #ff64c5 !important;
}

h1.stance {
    color: #ab72ff !important;
}

.stance {
    color: #5E487A !important;
}

.sec-ttl-stance {
    color: #854AD0 !important;
}

h1.algae {
    color: #3EE400 !important;
}

.algae {
    color: #1D5A07 !important;
}

.sec-ttl-algae {
    color: #4BA02B !important;
}

h1.genetic {
    color: #ae98ef !important;
}

.genetic {
    color: #372A5E !important;
}

a.genetic {
    color: #490e67 !important;
    text-decoration: underline;
}

.sec-ttl-genetic {
    color:#4C2CAA !important;
}